
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-heading-primary:#1c1c1c;
    --bs-main-color:#de0f3f;
    --bs-text-color:#c6c6c6;
}

h1, h2,h3,h4,h5{
    font-family: 'poppins', 'freeman';
    color: var( --bs-dark-color);
}

h1{
    font-size: 1.5rem;
    font-family: 'freeman';
}
.nav-link{
    font-size: 1.3rem;
    font-family: 'poppins';
    text-transform: capitalize;
    color: var(--bs-main-color);
}

.nav-link:hover{
    color: var(--bs-heading-color);
}

button{
    font-family: 'poppins';
    display: flex;
 
    
}


li{
    list-style: none;
}


h3{
    font-family: 'poppins';
    font-size: 1.3rem;
    text-align: center;
}

.hero-section h1 {
    letter-spacing: 0.10rem;

}

span{
    color: var(--bs-main-color);
    font-family: 'freeman';
}

i{
    color: var(--bs-main-color);
    font-size: 1.5rem;
}

.header-button{
   margin-left: 1rem;
} 

@media (max-width:998px) {

    .header-button{
        display: none;
    }
    .navbar-toggler{
     border-color: var(--bs-dark-color);
    } 

    .navbar-toggler-icon{
     color: #FFFFFF;
     /* background-color: var(--bs-main-color); */
    }

}